/* CSS file - Caike Motta's Portifolio
 * Made by Carlos Henrique Motta
 */

* {
    padding: 0;
 	margin: 0;
}

body {
 	background-color: #F9F9F9;
 	margin: 0 auto;
 	font-family: 'Roboto Condensed', sans-serif;
    color: #FFF;
    text-rendering: optimizeLegibility;
    font-size: 1em;
    line-height: 1em;
    display: block;
}

html, body { height: 100%;}

header {
    display: block;
    background-color: #4CAF50;
    height: 256px;
    width:100%;
    position: fixed;
    left: 0;
    z-index: 999;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
}

header a h1 {
    color: #FFF !important;
}

.menu-hamburger {display: none;}

.header-container {    
    display: block;
    margin: 0 auto;
    padding-left: 0;
    position: relative;
    top: 125px;
    max-width: 1160px;
    padding: 0 20px;
}

.header-container a h1 {
    float:left;
    line-height: 45px;
    font-size: 56px;
    font-weight: 400;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
}

.header-container nav {
    float: right;
    height: 64px;
}

.header-container nav a {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 64px;
    padding: 5px 10px;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.header-container nav a:hover { color: #c8e6c9; }

header.smaller {
    height: 64px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    margin: 0 auto;
    -webkit-transition: height 0.6s;
    -moz-transition: height 0.6s;
    -ms-transition: height 0.6s;
    -o-transition: height 0.6s;
    transition: height 0.6s;
}

header.smaller .header-container {
    top: 0px;
}

header.smaller a h1 {
    font-size: 24px;
    line-height: 64px;
    width: 125px;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
}


/* CONTENT */

.content-container {
    color: #212121;
    margin: 0 auto;
    padding-top: 256px;
    width: 86%;
}

.content-container a {
    color: #607d8b;
}

.content-container section {
    /*padding: 60px 0;*/
}

.content-container section h2 {
    font-size: 34px;
    font-weight: 700;
    line-height: 40px;
    padding: 10px 0 20px;
}


.content-container section figure {
    float: left;
    height: 200px;
    /*padding: 0 20px 0 0;*/
    width: 220px;
}

.content-container section figure img {
    border-radius: 50%;
}

.content-container section p {
    font-size: 20px;
    line-height: 32px;
    padding: 5px 0;
}

.row {
    margin: 30px auto;
}

.row .item .content {
    padding-left: 35px;
}

.row .item .content h3 {
    color: #212121;
}

.row .item .content ul li {
    font-size: 16px;
    padding: 5px 0;
}

.row .item .icon-holder label {
    width: 24px;
    height: 24px;
    display: block;
}

.row .item .icon-holder {
    left: 22px;
    position: absolute;
    top: 20px;
}

.row .item .icon-holder .work {
    background: url(../img/city.png) no-repeat 0 0 transparent;
}

.row .item .icon-holder .webdev {
    background: url(../img/xml.png) no-repeat 0 0 transparent;
}

.row .item .icon-holder .musicproj {
    background: url(../img/music-note.png) no-repeat 0 0 transparent;
}

.row .item .icon-holder .coffeebreak {
    background: url(../img/coffee.png) no-repeat 0 0 transparent;
}

/* FOOTER */

footer {
    background-color: #4caf50;
    height: 150px;
    width: 100%;
    transition: padding-left 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.footer-container {
    display: block;
    margin: 0 auto;
    padding: 35px 0 0;
    width: 96%;
}

.footer-container h2 {
    margin-top: 0 !important;
    display: block;
    font-size: 20px;
    /*padding: 15px 0;*/
    text-align: center;
    transition: padding-left 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.footer-container .social-media-container {
    margin: 0 auto;
    width: 265px;
}

.footer-container .social-media-container a {
    display: inline-block;
    height: 32px;
    margin: 0 5px;
    padding: 5px;
    width: 32px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.footer-container .social-media-container a:hover {
    transform: rotate(-5deg);
}


.footer-container .social-media-container a.facebook {
    background: url(../img/facebook-box.png) no-repeat transparent;
}

.footer-container .social-media-container a.googleplus {
    background: url(../img/google-plus-box.png) no-repeat  transparent;
}
.footer-container .social-media-container a.linkedin {
    background: url(../img/linkedin.png) no-repeat  transparent;
}
.footer-container .social-media-container a.twitter {
    background:url(../img/twitter.png) no-repeat  transparent;
}
.footer-container .social-media-container a.youtube {
    background: url(../img/youtube-play.png) no-repeat  transparent;
}
.footer-container .social-media-container a.gmail {
    background: url(../img/gmail.png) no-repeat transparent;
}


@media all and (max-width: 1000px) {
    header {
        height:130px;
    }
    .header-container {
        padding: 0 20px;
        top: 45px;
        width: 90%;
        position: relative;
    }
    .header-container a h1 {
        font-size: 24px;
    }    
    .header-container nav {
        
    }
    .header-container nav a {
        font-size: 16px;
        line-height: 45px;
    }
    header.smaller nav {
        line-height: 64px;
    }

    .content-container {
        padding-top: 130px;
    }
}

@media all and (max-width: 620px) {

    .menu-hamburger {
        background: url("../img/menu.png") no-repeat scroll 5px 5px transparent;
        border: none;
        cursor: pointer;
        display: block;
        float: right;
        height: 36px;
        position: relative;
        text-indent: -9999px;
        top: 5px;
        width: 36px;
        -webkit-transition: -webkit-transform 0.3s;
        transition: transform 0.3s;
        box-shadow: none;
        border-radius: none;
    }

    .menu-hamburger:active {
        -webkit-transform: rotateZ(90deg);
        -moz-transform: rotateZ(90deg);
        transform: rotateZ(90deg);
    }

    .smaller .menu-hamburger {
        top: 15px;
    }
  
    .header-container nav {
        display: none;
    }

    .header-container {
        padding: 0 20px;
        top: 45px;
        width: 90%;
        position: relative;
    }
    .header-container a h1 {
        font-size: 24px;
    }    
    .header-container nav {
        background-color: #f9f9f9;
        box-shadow: 0 2px 10px rgba(0,0,0,0.2);
        height: 90px;
        position: absolute;
        top: 50px;
        width: 150px;
        right: 0;
    }
    .header-container nav a {
        color: #212121;
        display: block;
        font-size: 16px;
        font-weight: 500;
        line-height: 45px;
        padding: 0 25px;
        text-align: center;
        text-transform: uppercase;
    }

    .header-container nav a:hover {
        color: #212121;
        background-color: #B6B6B6;
    }

 
    header.smaller a h1 {
        top: 15px;
    }
    header.smaller nav {
        
    }

    footer {
        transition: all 200ms ease;
    }

}