* {
  margin: 0;
  padding: 0;
  color: #424242;
  scroll-behavior: smooth;
}

.main-header {
  background: transparent;
  display: inline-flex;
  align-items: center;
  color: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  min-height: 59px;
  flex-wrap: wrap;
  z-index: 4;
}

.main-header a {
  color: #fff;
  text-decoration: none;
}

.main-header nav {
  background: transparent;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.main-header .logo {
  text-decoration: none;
  letter-spacing: 2px;
  padding: 10px 20px;
  font-size: 1.4rem;
  white-space: nowrap;
  order: 0;
  font-weight: bold;
}

.main-header .nav-about {
  flex-basis: initial;
  order: 3;
  flex-wrap: nowrap;
  justify-content: center;
  align-self: center;
}

.main-header .nav-about > ul {
  background: transparent;
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-flex;
}

.main-header .nav-about a {
  padding: 20px;
  text-transform: uppercase;
  font-size: .9rem;
}


.main-header .nav-social {
  display: flex;
  align-items: center;
  padding: 12px;
  margin-left: auto;
  order: 1;
}

.main-header .nav-social a {
  display: flex;
  align-self: center;
  font-size: 30px;
  text-decoration: none;
}

.main-header .nav-social a i {
  color: #FFF;
}

.sticky {
  background: #4b5f83;
}

@media (min-width: 600px) {
  .main-header nav {
    flex-wrap: nowrap;
  }

  .main-header .logo {
    order: 0;
  }
  

  .main-header .nav-about {
    order: 1;
  }

  .main-header .nav-social {
    order: 2;
  }
}

/* Main content */

main.main-content {
  overflow: hidden;
  background: #4b5f83;
}

main a {
  color: #4b5f83;
  text-decoration: none;
  cursor: pointer;
}

main a:hover,
main a:focus,
main a:active {
  color: #22a7f0;
  text-decoration: none;
  transition: all .4s ease;
}

.main-content header {
  min-height: 600px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  height: 100vh;
}

#welcome h1 {
  color: #fff;
  font-size: 4rem;
  position: relative;
  z-index: 3;
  margin: 59px auto 0;
  opacity: 1;
}

.main-content header .welcome-img {
  background: url('../img/home.jpg') no-repeat 0 0;
  background-size: cover;
  position: fixed;
  opacity: .4;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  will-change: transform;
}

@media (max-width: 1024px) {
  .main-content header .welcome-img {
    position: absolute;
  }
}

.content {
  padding: 90px 0;
  background: #fff;
  position: relative;
  z-index: 1;
  height: 100%;
}

.content .main-container {
  max-width: 700px;
}

.content .container p {
  font-size: 1.4rem;
  margin: 21px 0;
  padding: 0 20px;
}

.content .item {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.content .item .item-content {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.content .item > .item-title {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

.content .item > .item-title h3 {
  margin: 0 0 0 5px;
  font-size: 1.45rem;
}

.content .item .item-title i {
  display: flex;
  justify-content: center;
  align-content: center;
}

#hobbies {
  padding: 90px 0;
}

@media (max-width: 600px) {
  #hobbies {
    padding-bottom: 0;
  }
}

.content .item .item-content > ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.content .item .item-content li > a {
  font-size: 1.15rem;
}

@media (max-width: 600px) {
  .item {
    margin: 10px 0;
  }
  .content .item > .item-title {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .content .item .item-content > ul {
    text-align: center;
  }
}

/* Footer */

#contact {
  padding: 90px 0;
  background: #4b5f83;
  position: relative;
  z-index: 1;
  height: 100%;
}

#contact .container {
  max-width: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  position: relative;
}

#contact .container h2 {
  text-align: center;
  color: #FFF;
}

#contact .container .item > ul {
  margin-top: 20px;
  display: inline-flex;
  list-style: none;
}

#contact .container .item > ul li {
  margin: 5px 10px;
}

#contact .container .item ul li a,
#contact .container .item i {
  color: #FFF;
}

#contact .container .item ul li a {
  padding: 10px;
  text-decoration: none;
  font-size: 1.3rem;
}

.copyright {
  margin-top: 40px;
  margin-bottom: 0;
  text-align: center;
  color: #FFF;
  font-size: .9rem;
}

.copyright a {
  color: #FFF;
  text-decoration: none;
}

#date {
  color: #FFF;
}

@media (max-width: 600px) {
  #contact .container .item > ul {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
}
