:root {
/* Spacing */
--space-xxs: 3px;
--space-xs: 6px;
--space-s: 12px;
--space-m: 18px;
--space-l: 24px;
--space-xl: 36px;
--space-xxl: 48px;

/* Box Shadow */
--box-shadow-normal: 0 1px 3px 0 rgba(0, 0, 0, .1);
--box-shadow-big: 0 8px 24px 0 rgba(0, 0, 0, .15);

/* Colors */
--color-yellow: #FFD509;
--color-gray: #333;
--color-gray-strong: #222;
--color-white: #FFF;
--color-black: #000;

/* Content height */
--header-height: 45px;
--footer-height: 75px;

/* Font family */
--font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
