.hobbiesSection {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-xxl) 0;
  background-color: var(--color-gray);

  .container {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 900px;
    gap: var(--space-l);
    padding: 0 var(--space-m);
  }
}

// coarse
// The primary input mechanism includes a pointing device of limited accuracy, such as a finger on a touchscreen.

@media only screen and (hover: none) and (pointer: coarse) and (max-width: 480px) {
  .hobbiesSection .container {
    flex-direction: column;
  }
}
